.CommetCard {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 30px;

    .c-cntCommetCard{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 30px;

        height: 530px;
        overflow: hidden;

        &.co-seeMore{
            height: unset;
            overflow: unset;
        }


        .co-card{
            width: 500px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
            border: 2px solid #daa520;

            @media (max-width: 768px) {
                width: 100%;
            }

            .c-header {
                display: flex;
                gap: 15px;
                align-items: center;
        
                .c-image {
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    border-radius: 50%;
                }
        
                .c-cntStarName {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
        
                    .c-name {
                        font-size: 17px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        
            .c-comment {
                color: rgba(0, 0, 0, 0.5);
                font-size: 17px;
                text-align: justify;
                padding-left: 95px;
            }
        }
    }

    .co-button{
        width: 100%;
        display: flex;
        justify-content: center;
    }


    

}